APP_CONFIG__DB__URL=postgresql+asyncpg://usr:passwrd@localhost:5432/app
APP_CONFIG__DB_ECHO=0
APP_CONFIG__DB__ECHO_POOL=1
APP_CONFIG__ACCESS_TOKEN__RESET_PASSWORD_TOKEN_SECRET=
APP_CONFIG__ACCESS_TOKEN__VERIFICATION_TOKEN_SECRET=
